		
			ul#tabnav { /* general settings */
				text-align: left; /* set to left, right or center */
				margin: 1em 0 1em 0; /* set margins as desired */
				font: bold 11px verdana, arial, sans-serif; /* set font as desired */
				border-bottom: 1px solid #ccc; /* set border COLOR as desired */
				list-style-type: none;
				padding: 3px 10px 3px 10px; /* THIRD number must change with respect to padding-top (X) below */
			}

			ul#tabnav li { /* do not change */
				display: inline;
			}

			td#tab1 li.tab1 a, td#tab2 li.tab2 a, td#tab3 li.tab3 a, td#tab4 li.tab4 a { /* settings for selected tab link */
				background-color: #fff; /* set selected tab background color as desired */
				color: #000; /* set selected tab link color as desired */
				position: relative;
				top: 1px;
				padding-top: 4px; /* must change with respect to padding (X) above and below */
			}

			ul#tabnav li a { /* settings for all tab links */
				padding: 3px 4px; /* set padding (tab size) as desired; FIRST number must change with respect to padding-top (X) above */
				border: 1px solid #ccc; /* set border COLOR as desired; usually matches border color specified in #tabnav */
				background-color: #ededed; /* set unselected tab background color as desired */
				color: #666; /* set unselected tab link color as desired */
				margin-right: 0px; /* set additional spacing between tabs as desired */
				text-decoration: none;
				border-bottom: none;
			}

			ul#tabnav a:hover { /* settings for hover effect */
				background: #fff; /* set desired hover color */
			}

          	
/* incorporado por mantener de proceso financieros*/
#mantMenu {
	list-style-type:none;
	margin:0;
	padding-left:0px;
	padding-bottom:25px;
	border-bottom:1px solid #FF6633;
	font: "Arial Rounded MT Bold";
}
#mantMenu li{ /* general settings */
				text-align: left; /* set to left, right or center */
				margin: 1em 0 1em 0; /* set margins as desired */
				font: bold 11px verdana, arial, sans-serif; /* set font as desired */
				border-bottom: 1px solid #ccc; /* set border COLOR as desired */
				list-style-type: none;
				padding: 3px 10px 3px 10px; /* THIRD number must change with respect to padding-top (X) below */
			}
#mantMenu a:link, a:visited { /* settings for all tab links */
				padding: 3px 4px; /* set padding (tab size) as desired; FIRST number must change with respect to padding-top (X) above */
				border: 1px solid #ccc; /* set border COLOR as desired; usually matches border color specified in #tabnav */
				background-color: #ededed; /* set unselected tab background color as desired */
				color: #666; /* set unselected tab link color as desired */
				margin-right: 0px; /* set additional spacing between tabs as desired */
				text-decoration: none;
				border-bottom: none;
			}
#mantMenu a:hover { /* settings for hover effect */
				background: #fff; /* set desired hover color */
			}
			
#mantMenu .activo {
	display:block;	
	border-bottom:1px solid #FFFFFF;	
	color: #DFDFDF;
	background-color:#FFFFFF;
	padding:4px;	
	height:14px;
	
}

#mantMenu .inactivo {}